// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

$marron: #7F5539;
$beige: #A68A64;
$green: #678D7A;
$midgreen: #3B6363;
$darkgreen: #1A3835;
