// Specific CSS for your home-page

.title-ideas {
  margin: 10px 0px;
  text-align: left;
  padding-left: 30px;
  color: $darkgreen;
}

.title-location {
  color: $darkgreen;
}

.title-type {
  color: $darkgreen;
}

.subtitle-ideas {
  text-align: left;
  padding-left: 30px;
  color: $green;
  margin-bottom: 30px;
}

.color-block {
  display: flex;
}

.block-1 {
  background-color: $darkgreen;
  height: 400px;
  width: 100%;
}

.block-2 {
  background-color: $darkgreen;
  width: 100%;
  height: 400px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-underlined .tab-underlined {
  background-color: white;
  border-radius: 30px;
  color: $green;
  padding: 4px 16px;
  margin: 14px;
  opacity: .7;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid white;

}

.tabs-underlined .tab-underlined:hover {
    background-color: $green;
    color: white;
    border: 1px solid white;
  }

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  background-color: $green;
  color: white;
  border: 2px solid white;
}

.search-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  width: 880px;
  position: absolute;
  bottom: 163px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 5px 1px 29px rgba(0, 0, 0, 0.201);
}

.search-bar .btn-ghost {
  color: white;
  background-color: $green;
  padding: 8px 24px;
  border-radius: 10px;
  opacity: 1;
  transition: 0,5s ease;
  height: 60px;
}

.container-inspo {
  margin-top: 114px;
  margin-bottom: 50px;
}

.checkbox1 {
  position: absolute;
  transform: scale(0);
}


.checkbox1+label {
  cursor: pointer;
  display: inline-block;
  border-radius: 50rem;
  padding: 3px 6px;
  color: #717980;;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  font-size: 13px;
}

.checkbox1+label:hover {
  cursor: pointer;
  font-style: bold;
  display: inline-block;
  border-radius: 50rem;
  padding: 3px 6px;
  background-color: #e0ebe6fc;
  color: $green;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.checkbox1:checked+label {
  background-color: #e0ebe6fc;
  color: $green;
}

.location-block {
  width: 188px;
}
