// Import page-specific CSS files here.
@import "home";

body {
  background-color: white;
  font-family: $body-font;
}

ul {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #678D7A;
}
.tb-card-product-light:hover {
  color: #1A3835;
}


.col-6 {
  padding-right: 3px;
  padding-left: 3px;
}
 .mapbox {
    height: 406px;
    border-radius: 4px;
    position: -webkit-sticky;
    position: sticky;
 }
