// Import page-specific CSS files here.
@import "home";

body {
  background-color: white;
}

ul {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #678D7A;
}

.card {
  display: flex;
}

 .mapbox {
    height: 400px;
    border-radius: 4px;
    position: -webkit-sticky;
    position: sticky;
    top: 195px;
 }
