.list-group-item a {
  font-weight: bold;
  justify-content: end;
}

.infos-show {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

ul {
list-style-type: none;
}


.body {
  font-family: $body-font;
}

.mapboxgl-mapshow {
  width: -webkit-fill-available;
}
