.review-show {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.description-show {
  width: 1000px;
  margin-top: 18px;
}

.description-show p {
  font-size: 16px;
}

.description-show h3 {
  color: #3B6363;
}

.addtofavorite-show {
  padding-right: 30px;
}

.hr.solid {
  border-top: 3px solid #bbb;
}

.infos-show {
  width: 700px;
  margin-bottom: 14px;
}

.infos-show h3 {
  color: #3B6363;
}

.link-white a {
  color: white;
}

.mapboxgl-mapshow {
  width: -webkit-fill-available;

.exp-labels-block {
  display: inline-flex;
}
.exp-label {
  margin-left: 10px;
}
}
