

<div class="banner banner-bg" ;>
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
 <h1>Pages#home</h1>

<%= link_to "All experiences", experiences_path %>
<p>Find me in app/views/pages/home.html.erb</p>

<p><%= link_to "all experiences", experiences_path %></p>
</div>
