<div class="container">
  <h1>Way different<h1>

  <h5><%= @experience.name%></h5>

  <ul class="list-group">
    <% @experience.review_experiences.each do |review| %>
      <li class="list-group-item"><%= review.comment %></li>
    <% end %>
  </ul>

  <p><%= link_to "Add favorite", new_experience_favorite_path(@experience), class:"btn btn-primary" %></p>

</div>
