
<h1>Way different<h1>

<h5><%= @experience.name%></h5>

<ul class="list-group">
  <% @experience.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %></li>
  <% end %>
</ul>

