.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 1px 3px rgba(0, 0, 0, 0.229);
  font-size: 40px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-bg {
  background-image: linear-gradient(rgba(26, 55, 39, 0.222),rgba(26, 55, 39, 0.222)), asset_url('orange-forest');
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
