.banner-show {
  background-size: cover;
  background-position: center;
  padding: 40px 0 50px;
}

#backbtnshow {
  position: relative;
  top: -32px;
  left: 19px;
  color: #1A3835;
}

#backbtnshow:hover {
  color: #678D7A;
}

#image-grid-1 {
  height: 406px;
  width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.banner-show h2 {
  margin-top: 28px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.image-grid {
  display: flex;
  position: relative;
}

.bubble-review {
  width: auto;
  height: auto;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  bottom: 329px;
  left: -30px;
  border-radius: 9px;
  text-align: center;
  padding: 12px 16px;
    h5 {
      padding-top: 10px;
    }
}

.bubble-review img {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 8px;
  left: -13px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 1;
}


#image-grid-2 {
  height: 300px;
  width: 200px;
}

#image-grid-3 {
  height: 300px;
  width: 200px;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-show p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-bg-show {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url('road.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
