.btn-ghost {
  color: white;
  background-color: $green;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: 0,5s ease;
}

.btn-ghost:hover {
  color: $darkgreen;
  background-color: $green;
}
