.btn-ghost {
  color: white;
  background-color: #031069;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: white;
}
