.card-experience {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: 15px;
  height: 320px;
}

.card-experience > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-experience h2 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 54px;
}

.card-experience h5 {
  font-size: 16px;
  font-weight: bolder;
  color: $midgreen;
}

.card-experience .experience-description {
  font-size: 12px;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-experience .card-experience-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.card-experience-infos .card-experience-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.icon-experience {
  width: 20px;
  height: 20px;
}

.icon-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
