.tb-card-product {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  justify-content: space-around;
  // align-items: center;
  padding: 10px 5px;
  border-radius: 5px;
  margin: 15px;
}

.tb-card-product-light {
  background: $green;
}

.tb-card-product-dark {
  background: $darkgreen;
}

.tb-card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.tb-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.tb-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.tb-card-product .tb-card-product-infos {
  // padding: 16px;
}

.tb-card-category {
  border:solid;
  border-color: $light-gray;
  border-width: 1px;
  width: fit-content;
  border-radius: 10px;
  padding: 0px 5px;

}

.tb-card-experience-name {
  font-family: $headers-font;
  font-weight: bold;
  border-bottom: solid;
  border-width: 1px;
  border-color: $light-gray;
}

.tb-card-experience-name {
  font-family: $headers-font;
  font-weight: bold;

}
