.tb-card-product {
  overflow: hidden;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  align-items: start;
  border-radius: 8px;
  color: black;
  width: 100%;
  margin-bottom: 8px;
}

.tb-card-product-day-zero {
  overflow: hidden;
  height: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  align-items: start;
  border-radius: 8px;
  border: dashed darkgrey 1px;
  color: black;
  width: 100%;
  margin-bottom: 8px;
}


.img-favorite-travelboard {
  height: 100%;
  width: 100px;
  object-fit: cover;
  margin-right: 9px;
}

.tb-card-product-day-zero img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  margin-right: 9px;
}

.tb-card-product-title {
  font-size: 14px;
  font-weight: bolder;
  color: $darkgreen;
}

.tb-card-product p {
  font-size: 12px;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.tb-card-product-day-zero p {
  font-size: 12px;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.tb-card-category {
  border:solid;
  background-color: $marron;
  border-color: $light-gray;
  border-width: 1px;
  width: fit-content;
  border-radius: 10px;
  padding: 0px 5px;
  color: white;
  margin-left: 4px;
}


.title-day{
  margin-top: 9px;
  margin-bottom: 8px;
}
