.wrapper-chatroom {
  background-color: $darkgreen;
  padding-top: 40px;
  padding-bottom: 22px;
  display: flex;
}

.container-chatroom {
  width: 775px;
}

#header-chat {
  color:white;
  text-align: center;
}

.chatroom-empty {
  background: white;
  margin-top: 9px;
  height: calc(25vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 4px;
}

.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(65vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 4px;


  .chatroom-title {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 18px;
  }

  .image-chatbot {
    margin-right: 18px;
  }

  .content-chatbot {
    font-size: 20px;
    line-height: 0em;
    width: 425px;
  }

  .username-chatbot {
    font-size: 20px;
    color: $darkgreen;
    font-weight: bolder;
  }

  .date-chatbot {
    font-style: italic;
    font-size: 14px;
  }

  .card-message-chatbot {
    display: flex;
    margin-bottom: 22px;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.similar-itineraries {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-home-similar-itineraries {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}
