#card-travelboard-existing {
  display: flex;
  background-color: white;
  align-items: center;
  border: none;
}

#card-travelboard-existing img{
  width: 75px;
  height: 75px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#card-travelboard-existing p{
  line-height: 0.5;
  color: black;
  text-shadow: none;
}

#card-travelboard-existing-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-travelboard-existing2 {
  display: flex;
  background-color: white;
  align-items: center;
  border: none;
}

.card-travelboard-existing2 img{
  width: 75px;
  height: 75px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.card-travelboard-existing2 p{
  line-height: 0.5;
  color: black;
  text-shadow: none;
}

#card-travelboard-existing-details2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#date {
  font-size: 14px;
  color: darkgray;
}

.btn-create-travelboard {
  width: 75px;
  height: 75px;
  border: darkgray solid 1px;
  margin-left: 21px;
  margin-bottom: 16px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 44px;
  font-weight: lighter;
}

.btn-create-travelboard:hover {
  background-color: #678D7A;
  color: white;
  border: white;
}
