.navbar {
	position: sticky;
  z-index: 7;
	top: 0;
  justify-content: space-between;
  background: #678D7A;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 250px;
  cursor: pointer;
  border-radius: 20px;
}

.navbar-nav {
  margin-right: 30px;
}

.dropdown-toggle {
  width: 35px;
  margin-left: 20px;
  border-radius: 16px;
}

.dropdown-toggle:hover {
  transition: 0.3s;
  color: $green;
}

.dropdown-header {
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-right: 10px;
}
