.form-control {
  border-radius: 10px;
  border: 1px solid white;
  color: $lightgreen;
  font-size: 13px;
  background-color: rgb(246, 242, 242);
}

.form-control ::placeholder{
  color: $lightgreen;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: #f2f6f2;
  color: #717980;
  font-size: 13px;
  box-shadow: none;
  border: none;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 10px;
  box-shadow: none;
  border: none;
}
